@model IEnumerable<CategoryModel>

@{
    ViewData["title"] = " Category List";
    int index = 1;
}

<h1>List Category</h1>
<a asp-action="Create" asp-controller="Category" class="text-lg-start">Add Category</a>
<table class="table">
    <thead class="thead-dark">
        <tr>
            <th scope="col">#</th>
            <th scope="col">Category Name</th>
            <th scope="col">Category Decription </th>
            <th scope="col">Category Status</th>
            <th scope="col">Admin Manager</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <th scope="row">@index</th>
         
                <td>@item.Name</td>
                <td>@item.Description</td>
                <td>@item.Status</td>
                <td>
                    <a class="btn btn-sm btn-warning rounded" asp-action="Edit" asp-controller="Category" asp-route-Id="@item.Id_Category">Edit</a>
                    <a class="btn btn-sm  btn-danger rounded" asp-action="Delete" asp-controller="Category" asp-route-Id="@item.Id_Category">Delete</a>
                </td>
            </tr>
            index++;
        }

    </tbody>
</table>