@model IEnumerable<BrandModel>

@{
    ViewData["title"] = " Brand List";
    int index = 1;
}

<h1>List Brand</h1>
<a asp-action="Create" asp-controller="Brand" class="text-lg-start">Add Brand</a>
<table class="table">
    <thead class="thead-dark">
        <tr>
            <th scope="col">#</th>
            <th scope="col">Brand ID</th>
            <th scope="col">Brand Name</th>
            <th scope="col">Brand Decription </th>
            <th scope="col">Brand Status</th>
            <th scope="col">Admin Manager</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <th scope="row">@index</th>
                <td>@item.Id_Brand</td>
                <td>@item.Name</td>
                <td>@item.Description</td>
                <td>@item.Status</td>
                <td>
                    <a class="btn btn-sm btn-warning rounded" asp-action="Edit" asp-controller="Brand" asp-route-Id="@item.Id_Brand">Edit</a>
                    <a class="btn btn-sm  btn-danger rounded" asp-action="Delete" asp-controller="Brand" asp-route-Id="@item.Id_Brand">Delete</a>
                </td>
            </tr>
            index++;
        }

    </tbody>
</table>