@model IEnumerable<ProductModel>

@{
    ViewData["title"] = " Product List";
    int index = 1;
}

<h1>List Product</h1>
<a asp-action="Create" asp-controller="Product" class="text-lg-start" >Add Product</a>
<table class="table">
    <thead class="thead-dark">
        <tr>
            <th scope="col">#</th>
            <th scope="col">Image</th>
            <th scope="col">Product Name</th>
            <th scope="col">Product Decription </th>
            <th scope="col">Product Price</th>
            <th scope="col">Product Brand</th>
            <th scope="col">Product Category</th>
            <th scope="col">Admin Manager</th>
        </tr>
    </thead>
    <tbody>
        @foreach(var item in Model){
            <tr>
                <th scope="row">@index</th>
                <td>
                    <img src ="~/media/products/@item.image" width="80px" height="80px"/>
                </td>
                <td>@item.Name</td>
                <td>@item.Description</td>
                <td>@item.Price</td>
                <td>@item.Brand.Name</td>
                <td>@item.Category.Name</td>
                <td>
                    <a class="btn btn-sm btn-warning rounded" asp-action="Edit" asp-controller="Product" asp-route-Id="@item.Id">Edit</a>
                    <a class="btn btn-sm  btn-danger rounded" asp-action="Delete" asp-controller="Product" asp-route-Id="@item.Id">Delete</a>
                    
                </td>
            </tr>
            index++;
        }
        
    </tbody>
</table>